.install-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.install-box {
  background: #061e26;
  color: white;
  padding: 25px;
  border-radius: 14px;
  width: 300px;
  text-align: center;
}

.install-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00b4ff;
  color: white;
  font-size: 16px;
}

.web-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: transparent;
  color: #aaa;
}
