.posts-page {
  padding: 20px;
  color: white;
}

.create-post {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.create-post textarea {
  width: 100%;
  margin: 10px 0;
}

.create-post button {
  background: #00c6ff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
}

.post-card {
  background: #1c1c1c;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
}

.post-card img,
.post-card video {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  cursor: pointer;
}
